.busqueda {
   width: 100%;
    margin-top: 19px;
    cursor: pointer;
}

.contenedorbusqueda {
    width: 83.3%;
    height: 6.19rem;
    margin-left: 6.9%;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    display: flex;
    flex-direction: column;
    
}

.barrainicialbusqueda {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.barrabusquedatitulo {
    width: 100%;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

}


.barrabusquedatitulo p {
    
    font-family: ChakraPetch-Bold;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0;
}

.barrabusqueda {
    position: relative;
    width: 100%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
   
}


.inputbusqueda {
    width: 83.3%;
    height: 3rem;
    margin-top: 12px;
    cursor: pointer;

}

.botonlupa {
    width: 7.1%;
    height: 36px;
    margin-top: 18px;
    margin-left: 0.6%;
    cursor: pointer;
}

/********************************************************************/

.tipodebusquedas {
  
    margin-top:30px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    position: relative; 
    background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
   
 
}

.tipodebusquedas button {
    width: 73.3%;
    height: 34px;
    border: 1px solid #110038;
    margin-left: 1.1%;
    display: flex;
    cursor: pointer;
    align-items: center;
    
}

.tipodebusquedas button p{

    padding-left: 1%;
}

.resultadosugerido {

    margin-top: 17px;
}

.resultadosimilar {
    margin-top: 11px;
    background: #F0F0F0;
border: 1px solid #808080;
box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.otromas{

    margin-top: 11px;
    margin-bottom:16px ;
    background: #F0F0F0;
border: 1px solid #808080;
box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}