.ventanaTresGrabar {
    margin-top: 5vh;
    width: 53.75rem;
    height: 34.25rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;


}

.ventanaTresCabecera {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    align-items: center;
}

.tituloVentanaTres {
    margin-left: 0.5%;
}

.tituloVentanaTres p {
    color: white;
}


.loadWindowTitle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
}

.previewVentanaTres {
    height: 27.13rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 0.8%;
    margin-right: 1.2%;
    margin-top: 1.1%;
    padding: 3px;
    



}

.previewVentanaTres video {

    object-fit: cover;
    width: 100vw;
    max-height: 27.13rem;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


.previewVentanaTres img{
    width: 100%;
    height: 27.13rem;
}




.capturaVentanaTres {

    margin-bottom: 1.6%;
    height: 2.25rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.1%;
}

.IconoCamara {
    width: 2.25rem;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}


.capturar {
    width: 9rem;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.tiempoConteo {
    margin-bottom: 1.6%;
    margin-left: 0.8%;
    margin-top: 1.31rem;
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer {

    width: 7.75rem;
    height: 2.25rem;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grabacion {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

.grabacionIcono {

    width: 2.25rem;
    height: 2.25rem;
    background: #FF6161 100%;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;

}

.grabacionListo {
    width: 9rem;
    height: 2.25rem;
    background: #FF6161 100%;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color: white;
}