.ventanaCuatroGrabar {
    margin-top: 5vh;
    width: 53.75rem;
    height: 34.25rem;
    background: #E6E6E6;

    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    

}


.ventanaCuatroCabecera {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ventanaCuatroCabecera span{
    margin-left: 0.44rem;
    color: #FFFFFF;
}

.previewVentanaCuatro{
    height: 27.13rem;    
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 0.8%;
    margin-right: 1.2%;
    margin-top: 1.1%;
    padding: 3px;
}


.previewVentanaCuatro img{
    width: 100%;
    height: 27.13rem; 
}



.windowFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.31rem;
}

.timerandloader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.timer {

    width: 7.75rem;
    height: 2.25rem;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.69rem;
}



.fwdButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width:1.25rem;
height: 1.25rem;
margin-right: 4px;
margin-left: 1.5rem;
}

.progresscontainer {
    width: 15rem;
}

#myProgress {
  width: 100%;
  background-image: linear-gradient(90deg, #999999 46.15%, #e6e6e6 46.15%, #e6e6e6 50%, #999999 50%, #999999 96.15%, #e6e6e6 96.15%, #e6e6e6 100%);
background-size: 26.00px 26.00px;
}

#myProgress2 {
    width: 100%;
    background-image: linear-gradient(90deg, #999999 46.15%, #e6e6e6 46.15%, #e6e6e6 50%, #999999 50%, #999999 96.15%, #e6e6e6 96.15%, #e6e6e6 100%);
  background-size: 26.00px 26.00px;
  }

#myBar {
  width: 5%;
  height: 30px;
  background-image: linear-gradient(90deg, #f7c9f3 45.83%, #b8b8b8 45.83%, #b8b8b8 50%, #f7c9f3 50%, #f7c9f3 95.83%, #b8b8b8 95.83%, #b8b8b8 100%);
background-size: 24.00px 24.00px;
}

#myBar2 {
    width: 5%;
    height: 30px;
    background-image: linear-gradient(90deg, #f7c9f3 45.83%, #b8b8b8 45.83%, #b8b8b8 50%, #f7c9f3 50%, #f7c9f3 95.83%, #b8b8b8 95.83%, #b8b8b8 100%);
  background-size: 24.00px 24.00px;
  }

.rptuploadbuttons {
    display: flex;
align-items: center;
margin-right: 16px;
}

.repetir {
    background: #FFF4FD;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
height: 36px;
width: 144px;
margin-right: 14px;
}

.repetir:hover {
    background: #F0E5EE;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.subir {
    height: 36px;
width: 144px;
background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.subir:hover {
    background: rgb(214, 177, 211);
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

