.ventanaDosGrabar {
    margin-top: 5vh;
    width: 53.75rem;
    height: 34.25rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    

}

.ventanaDosCabecera {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    align-items: center;
}

.tituloVentanaDos {
    margin-left: 0.5%;
}

.tituloVentanaDos p {
    color: white;
}


.loadWindowTitle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
}

.previewVentanaDos {
    height: 27.13rem;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
   margin-left: 0.8%;
   margin-right: 1.2%;
   margin-top: 0.5rem;
    padding: 3px;
    
    
   
}

.previewVentanaDos video{
    
    object-fit: cover;
    width: 100%; 
    max-height: 27.13rem;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}




.capturaVentanaDos {

    margin-bottom: 1.6%;
    height: 2.25rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.1%;
    margin-top: 1.31rem;
    margin-bottom: 1rem;
}

.IconoCamara {
    width: 2.25rem;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}


.capturar {
    width: 9rem;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}