
header {
    width: 100%;
    height: 24px;
    margin-top: 0px;
}

.barratitulo {
    width: 100%;
    height: 23px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.barratitulo p {
    padding-top: 3px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
}



/************************************************************/

/*Section INTRO*/

.inicio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0%;
   /*  background: greenyellow; */
}

.contenedorinicio {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    width: 7.1%;
    height: 64px;
    margin-left: 6.3%;
    margin-top: 35px;
}

.botones {
    width: 100%;
    position: absolute;
    height: 36px;
    display: flex;
    flex-direction: row;
    margin-left: 61%;
    margin-top: 44px;
   /*  background: red; */
}

/* .botones button{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
} */
.botoncrear {
    width: 10%;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    letter-spacing: 0;
}

.botoncrear:hover {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}


.temas {

    display: flex;
    flex-direction: row;
    position: relative;
   /*  background: royalblue; */
    width: 100%;
}

.botontema1 {
    width: 9.1%;
    height: 36px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 16px;
    line-height: 18px;
    margin-left: 1.1%;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.botontema2 {
    width: 2.5%;
    height: 36px;
    background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;

}

.botontema1:hover {
    background: #E6BBE2;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    border: 1px solid #110038;
}

.botontema2:hover {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.grabar {
    text-decoration: none;
    color: #000000;
    padding-top: 8px;
    margin-left: 1.1%;
    width: 5.3%;
}

.grabar span {
    color: #000000;
    text-decoration: underline;
}

#desplegableTema {
    width: 11.8%;
    height: 102px;
    display: none;
    flex-direction: column;
    margin-left: 2px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    z-index: 991;
}

#desplegableTema button {
    width: 10.4%;
    height: 36px;
    margin-top: 10px;
    margin-left: 10px;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#desplegableTema button:active {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

