header {
    width: 100%;
    height: 24px;
    margin-top: 0px;
}

.barratitulo {
    width: 100%;
    height: 23px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.barratitulo p {
    padding-top: 3px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
}



/************************************************************/

/*Section INTRO*/

.inicio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0%;
    /*  background: greenyellow; */
}

.contenedorinicio {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background: red; */
}

.logo {
    width: 7.1%;
    height: 6%;
    margin-left: 6.3%;
    margin-top: 35px;
}

.flechavolver {
    margin-top: 55px;
    margin-left: 4.2%;
}

.botones {
    width: 100%;
    position: absolute;
    height: 36px;
    display: flex;
    flex-direction: row;
    margin-left: 61%;
    margin-top: 44px;
    /*  background: red; */
}

/* .botones button{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
} */
.botoncrear {
    width: 10%;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    letter-spacing: 0;
}

.botoncrear:hover {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}


.elegirTema {
    display: flex;
    flex-direction: column;
    margin-left: 1.1%;
    width: 100%;
    
}

.BotonesTemas {
    width: 100%;
    display: flex;
    
}



.botonTema1 {
    width: 9.1%;
    height: 36px;
    background:#F7C9F3 100% ;
    font-family: ChakraPetch-Regular;
font-size: 16px;
color: #110038;
letter-spacing: 0;
text-align: center;
line-height: 18px;
}

.botonTema1:hover{
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.botonTema2 {
    width: 2.5%;
    height: 36px;
    margin-left: 0%;
    background:#F7C9F3 100% ;
    
}

.botonTema2:hover{
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.TextoTemas {
    display: flex;
    flex-direction: column;
    width: 11.8%;
    height: 150px;

    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    z-index: 1000;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;


}



.Dia {
    height: 36px;
    margin-top: 0.5%;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

}

.Noche {
    height: 36px;
    margin-top: 5%;
    padding-bottom: 0.5%;
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

}

.Dia:active {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.Noche:active {

    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;

}

.VerMisGuifos{
    width: 5.3%;
    height: 36px;    
    margin-left: 1.1%;   
    display: flex;
    align-items: center;
}


.VerMisGuifos a{
    color: #110038;
    text-decoration: none;
}

.VerMisGuifos a span{
    color: #110038;
    text-decoration: underline;
}