.buscar {

    width: 82.9%;
    position: relative;
    margin-top: 35px;
    width: 100%;

}

.menubuscar {

    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 6.9%;
    margin-right: 9.7%;
    height: 99px;
    width: 82.9%;

}

.menubuscar .barratitulo {

    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    width: auto;
}

.menubuscar .barratitulo p {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}


.menubuscar .busqueda {

    margin-top: 12px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menubuscar .busqueda .barrabusqueda {
    margin-top: 12px;
    margin-left: 1%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 73.4%;
    height: 48px;

}

.menubuscar .busqueda .barrabusqueda p{

    font-family: ChakraPetch-Regular;
font-size: 16px;
color: #B4B4B4;
letter-spacing: 0;
line-height: 18px;
}

.imagenbusqueda {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0  #FFFFFF;
    width: 7.1%;
    height: 36px;
    margin-top: 15px;
    margin-left: 0.6%;

}

.logobusqueda {

    display: flex;
    justify-content: center;
}

.frasebusqueda {
    margin-left: 1.1%;
    display: flex;
    align-self: center;
}