

@import "./inicio.css";
@import "./busqueda.css";
@import "./tendencia.css";
@import "./sugerido.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    width: 100%;
    background:#FFFAFE 100%;
}
