

@import "./inicio.css";
@import "./busqueda.css";
@import "./tendencia.css";
@import "./sugerido.css";
@import "./grabar_v1.css";
@import "./grabar_v2.css"; 
@import "./grabar_v3.css";



*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body{
    height: 1000vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;   
  }