.sugeridosection {

    width: 83.3%;
    height: 32px;
    margin-left: 6.9%;
    margin-top: 64px;

}

.sugeridotitulo {

    display: flex;
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
}

.sugeridotitulo p {
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    padding-left: 0.5%;

}

.contenedor_sugeridos {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    /* height: 313px; */
    margin-top: 16px;



}

.cajagifsugerido {
    width: 20%;
    height: 313px;
    display: flex;
    flex-direction: column;

}

.contenedortitulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    height: 24px;
    align-items: center;
}

.contenedortitulo .parrafosugerido {
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 0.2%;
}

.cajagifsugerido .imagensugerido {

    height: 280px;

}

.cajagifsugerido .vermas {
    display: block;
    position: relative;
    width: 81px;
    height: 34px;
    color: #FFFFFF;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    z-index: 999;
    margin-top: -50px;
    margin-left: 0.8%;
    cursor: pointer;


}

.cajagifsugerido .vermas:active {
    background: #3A72DB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: 0px 1px 0px 0px rgb(0, 105, 202);
-webkit-box-shadow: 0px 1px 0px 0px rgb(0, 105, 202);
box-shadow: 0px 1px 0px 0px rgb(0, 105, 202);
}

.cajagifsugerido .vermas .vermasp {

    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;

}